@import "tailwindcss";
@import 'boxicons/css/boxicons.min.css';


body{
    background-color: #1b1b1b;
    position: relative;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
